.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer{
    display: flex;
    gap: 1rem;
   
}

.searchInput{
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.searchButton{
    background-color: #4caf50;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

.weather-cards{
    background-color: #4caf50;
}